<!-- 登録用モーダル -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">作品登録</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'works_insert' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- POST用情報を隠し隠し項目として設定 -->
          {% if checked %} 
            <input type="hidden" name="username" id="username" value="{{ username }}">
            <input type="hidden" name="checked" id="checked" value="{{ checked }}">
            <input type="hidden" name="select_human" id="select_human" value="{{ select_human}}">
          {% endif %}
        <div class="modal-body">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label"><font color="red">※</font>タイトル:</label>
              <input type="text" class="form-control" id="title-name" name="title-name" required>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label"><font color="red">※</font>イメージ画像:</label>
              <input type="file" class="form-control" id="img-name" name="img-name" required>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">リンク:</label>
              <input type="text" class="form-control" id="link-name" name="link-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">ファイル:</label>
              <input type="file" class="form-control" id="file-name" name="file-name" value="">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label"><font color="red">※</font>説明:</label>
              <textarea class="form-control" id="message-text" name="message-text" required></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  
  <!-- 詳細用モーダル -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="explain_modal_title">おっぱい迷路</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="./img/meiro.png" id="explain_modal_image" class="w-75 d-block mx-auto" alt="...">
          <p id="explain_modal_explain">散らばってしばった二つのおっぱいをくっつけるゲームです。n*nの迷路を自動生成します。<br><br>
             下記のリンクまたはzipファイルをダウンロードして遊べます。<br>
             ダウンロードの方はローカルに解凍後、フォルダ構成をそのままにし、index.htmlをひらいてください。
          </p>
        </div>
        <div class="modal-footer">
          {% if checked %} 
            {% if username == select_human or username == "root" %} 
              <a class="px-1 me-auto p-2" id="trash_modal_footer" href="javascript:delete_work();">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="color: rgb(255, 60, 53);">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
              </a>
            {% endif %}
          {% endif %}
              <a class="px-1" id="explain_modal_footer" href="#" download>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
              </a>
              <a class="px-1" id="link_modal_footer" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-up-right col px-0" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
              </a>
              <button type="button" class="btn btn-secondary px-1" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>