<!-- メンバーセレクトバー -->
<div class="container-fluid pt-3 pb-3">
    <div class="row row-cols-auto justify-content-start">
      <a href="javascript:select_page('common','{% url 'works_init' %}');">
        <div class="col btn py-0">
          <div class="vstack gap-0">
            {% if select_human == "common" %}
              <svg xmlns="http://www.w3.org/2000/svg" style="height: 3rem; width: 3rem;" fill="currentColor" class="bi bi-people-fill rounded-circle border border-3 border-warning" viewBox="0 0 16 16">
            {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" style="height: 3rem; width: 3rem;" fill="currentColor" class="bi bi-people-fill rounded-circle" viewBox="0 0 16 16">
            {% endif %}
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
              </svg>
            <div class="" style="width: 3rem; font-size: x-small;">共同制作</div>
          </div>
        </div>
      </a>
      <a href="javascript:select_page('masaya','{% url 'works_init' %}');">
        <div class="col btn py-0">
          <div class="vstack gap-0">
            {% if select_human == "masaya" %}
            <img src="{{ MEDIA_URL }}{{member_imgs.masaya.picture}}" class="rounded-circle mb-1 border border-3 border-warning" alt="..." style="height: 3rem; width: 3rem;">
            {% else %}
            <img src="{{ MEDIA_URL }}{{member_imgs.masaya.picture}}" class="rounded-circle mb-1" alt="..." style="height: 3rem; width: 3rem;">
            {% endif %}
            <div class="" style="width: 3rem; font-size: x-small;">まーくん</div>
          </div>
        </div>
      </a>
      <a href="javascript:select_page('konitan','{% url 'works_init' %}');">
        <div class="col btn py-0">
          <div class="vstack gap-0">
            {% if select_human == "konitan" %}
            <img src="{{ MEDIA_URL }}{{member_imgs.konitan.picture}}" class="rounded-circle mb-1 border border-3 border-warning" alt="..." style="height: 3rem; width: 3rem;">
            {% else %}
            <img src="{{ MEDIA_URL }}{{member_imgs.konitan.picture}}" class="rounded-circle mb-1" alt="..." style="height: 3rem; width: 3rem;">
            {% endif %}
            <div class="" style="width: 3rem; font-size: x-small;">こにたん</div>
          </div>
        </div>
      </a>
      <a href="javascript:select_page('paisen','{% url 'works_init' %}');">
        <div class="col btn py-0">
          <div class="vstack gap-0">
            {% if select_human == "paisen" %}
            <img src="{{ MEDIA_URL }}{{member_imgs.paisen.picture}}" class="rounded-circle mb-1 border border-3 border-warning" alt="..." style="height: 3rem; width: 3rem;">
            {% else %}
            <img src="{{ MEDIA_URL }}{{member_imgs.paisen.picture}}" class="rounded-circle mb-1" alt="..." style="height: 3rem; width: 3rem;">
            {% endif %}
            <div class="" style="width: 3rem; font-size: x-small;">こうじ</div>
          </div>
        </div>
      </a>
      <a href="javascript:select_page('leo','{% url 'works_init' %}');">
        <div class="col btn py-0">
          <div class="vstack gap-0">
            {% if select_human == "leo" %}
            <img src="{{ MEDIA_URL }}{{member_imgs.leo.picture}}" class="rounded-circle mb-1 border border-3 border-warning" alt="..." style="height: 3rem; width: 3rem;">
            {% else %}
            <img src="{{ MEDIA_URL }}{{member_imgs.leo.picture}}" class="rounded-circle mb-1" alt="..." style="height: 3rem; width: 3rem;">
            {% endif %}
            <div class="" style="width: 3rem; font-size: x-small;">れお</div>
          </div>
        </div>
      </a>
      <a href="javascript:select_page('ryotaro','{% url 'works_init' %}');">
        <div class="col btn py-0">
          <div class="vstack gap-0">
            {% if select_human == "ryotaro" %}
            <img src="{{ MEDIA_URL }}{{member_imgs.ryotaro.picture}}" class="rounded-circle mb-1 border border-3 border-warning" alt="..." style="height: 3rem; width: 3rem;">
            {% else %}
            <img src="{{ MEDIA_URL }}{{member_imgs.ryotaro.picture}}" class="rounded-circle mb-1" alt="..." style="height: 3rem; width: 3rem;">
            {% endif %}
            <div class="" style="width: 3rem; font-size: x-small;">りょうたろう</div>
          </div>
        </div>
      </a>
    </div>
    <div class="pb-2 mb-1 text-danger border-bottom border-dark-subtle"></div>
</div>